@import "@fontsource/poppins"; /* Default weight */

body {
  margin: 0;
  font-family: "poppins", sans-serif;
  /* background-color: #153448; */
  background-color: #455462;
  padding: 0;
  overflow-x: hidden;
}
body,
html {
  overflow-x: hidden; /* Allows horizontal scrolling */
  max-width: 100%; /* Prevents content from exceeding viewport */
}

code {
  /* font-family: "Montserrat", sans-serif; */
}
.ui.grid > .stackable.stackable.row > .column,
.ui.stackable.grid > .column.grid > .column,
.ui.stackable.grid > .column.row > .column,
.ui.stackable.grid > .column:not(.row),
.ui.stackable.grid > .row > .column,
.ui.stackable.grid > .row > .wide.column,
.ui.stackable.grid > .wide.column {
  padding: 0px 0px !important;
}
.slick-dots li.slick-active div {
  background-color: rgb(61, 120, 187) !important;
  transform: scale(1.3);
}
.custom-tabs {
  display: flex;
  justify-content: center;
  gap: 0px;
}
.custom-tabs.ui.menu {
  background-color: transparent !important;
}
.custom-tabs .item {
  color: #ffffff !important;
}
.custom-tabs .active.item {
  color: #fca311 !important;
  font-weight: bold;
}
.custom-tabs .active.item {
  border-bottom: 3px solid #fca311 !important;
}
